@import 'global';
@import 'vars';

/* start header */

.header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 678px;
    background-image: linear-gradient(-90deg, rgba(0,80,131, 0.39), rgba(34,185,119, 0.39)), url(../images/header-bg.jpg);
}

.header__inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include f700;
    font-size: 14px;
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    &-btn {
        margin-left: 60px;
        padding: 17px 27px;
        background-color: $green;
        font-size: 16px;
        text-align: center;
    }
}

.header__menu-btn {
    width: 30px;
    display: none;
}

.header__menu-row {
    width: 100%;
    background-color: $green;
    height: 5px;
}

.header__menu-row + .header__menu-row {
    margin-top: 5px;
}

.header__inner-title {
    font-size: 54px;
    padding: 150px 0;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    span {
        @include f700;
    }
}


/* end header */

/* start about */

.about {
    background-color: #fff;
    padding: 120px 0 60px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    &-images {
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 378px;
        max-width: 503px;
        position: relative;
    }
    &-content {
        padding: 40px 40px 40px 95px;
        color: $text;
    }
}

.about__content-title {
    margin-bottom: 35px;
    font-size: 36px;
}

.about__content-text {
    font-size: 18px;
    line-height: 30px;
}

.about__content-button {
    margin-top: 35px;
    padding: 17px 30px;
    background-color: $green;
}
/* end about */

/* start items */

.items {
    padding: 60px 0 45px;
    background-color: #fff;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: $text;
        text-align: center;
        &-elements {
            max-width: 370px;
            margin-bottom: 75px;
            padding: 0 20px;
            &__img {
                height: 62px;
            }
            &__title a{
                margin-top: 20px;
                font-size: 18px;
                color: $text;
                @include f700;
                margin-bottom: 35px;
            }
            &__text {
                line-height: 30px;
            }
        }
    }
}

/* end items */

/* start project */

.project {
    padding-bottom: 120px;
    &__title {
        color: $text;
        font-size: 36px;
        margin-bottom: 65px;
    }
    &__button {
        text-align: center;
    }
}

.project__slider {
    &-item {
        width: 388px;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.project__slider .slick-slide {
    max-width: 388px;
}

.project__btn {
    margin-top: 60px;
    padding: 18px 45px;
    background-color: $green;
    text-align: center;
    @include f700;
}

/* end project */

/* start reviews */

.reviews {
    padding: 165px 0 95px;
    background-image: linear-gradient(90deg, rgb(0,80,131), rgb(32,179,120));
    position: relative;
    &::after {
        content: url(../images/content/kovichki.png);
        position: absolute;
        top: 90px;
        right: 50%;
        left: 50%;
    }
    &__slider {
        &-content {
            font-size: 16px;
            line-height: 30px;
            color: #fff;
            margin-bottom: 40px;
        }
        &-name {
            font-size: 14px;
            color: #fff;
        }
        &-prof {
            margin-top: 10px;
            @include f300;
            font-size: 13px;
            color: #fff;
            margin-bottom: 40px;
        }
    }
}

.reviews__slider-wrapper {
    max-width: 810px;
    margin: 0 auto;
    text-align: center;
}

.reviews__slider-small {
    max-width: 310px;
    margin: 0 auto;
    position: relative;
    .slick-arrow {
        border: none;
        background: transparent;
        outline: none;
        font-size: 0;
    }
    .slick-arrow.slick-prev {
        position: absolute;
        top: 25px;
        left: -60px;
    }
    .slick-arrow.slick-next {
        position: absolute;
        top: 25px;
        right: -60px;
    }
}

.reviews__slider-photo {
    border-radius: 50%;
    max-width: 46px;
    min-height: 46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.slick-slide.slick-center {
    .reviews__slider-photo {
        min-width: 70px;
        height: 70px;
    }
}

.reviews__slider-small .slick-track {
    display: flex;
    align-items: center;
    .slick-slide {
        width: 70px !important;
    }
}

.reviews__slider-small .slick-track div + div {
    margin-left: 10px;
}

.slick-slide.slick-center {
    .reviews__slider-photo {
        max-width: 70px;
        min-height: 70px;
    }
}

.reviews__slider-small .slick-list {
    padding: 0px 0px !important;
}
  
/* end reviews */

/* start contact  */

.contact {
    padding: 120px 0;
    background-color: #fff;
    &__title {
        font-size: 36px;
        color: #413d4b;
        text-align: center;
        margin-bottom: 75px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.contact__map {
    &-title {
        font-size: 18px;
        color: #000;
        margin-bottom: 40px;
    }
    &-address {
        font-size: 14px;
        margin-bottom: 15px;
        color: #737373;
    }
    &-city {
        font-size: 14px;
        margin-bottom: 15px;
        color: #737373;
    }
    &-index {
        font-size: 14px;
        margin-bottom: 15px;
        color: #737373;
    }
}

.contact__form {
    padding-top: 15px;
    padding-right: 100px;
    input,
    textarea {
        border: 1px solid #e5e5e5;
        display: block;
        font-size: 14px;
        color: #413d4b;
    }
    input {
        height: 45px;
        width: 500px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 25px;
    }
    textarea {
        padding: 20px 20px;
        width: 100%;
        resize: none;
        height: 200px;
    }
    input,
    textarea::placeholder {
        color: #413d4b;
        font-size: 14px;
    }
}

.contact__form-btn {
    background-color: $green;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    margin-top: 25px;
    color: #ffffff;
    @include f700;
}

/* end contact */


/* start footer */

.footer {
    padding: 130px 0 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 462px;
    background-image: linear-gradient(-90deg, rgba(4,77,120, 0.9), rgba(4,77,120, 0.9)), url(../images/footer-bg.jpg);
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.footer__column {
    max-width: 470px;
    width: 100%;
    font-size: 14px;
    color: #cad3dc;
    &-title {
        font-size: 18px;
        color: #fff;
        margin-bottom: 40px;
    }
    &-text {
        margin-bottom: 35px;
        line-height: 30px;
    }
    &-content {
        line-height: 30px;
    }
    &-address,
    &-city {
        margin-bottom: 20px;
    }
    &-index {
        margin-bottom: 40px;
    }
    &-phone {
        display: block;
        font-size: 14px;
        color: #cad3dc;
        margin-bottom: 20px;
    }
    &-email {
        display: block;
        font-size: 14px;
        color: #cad3dc;
    }

}

.footer__menu {
    max-width: 270px;
}

/* end footer */


@import 'media';